<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.subees.submanager.subscription.model.mapper.SubscriptionMapper">

    <resultMap id="subscriptionResultMap" type="com.subees.submanager.subscription.model.vo.Subscription">
        <id property="subscriptionId" column="subscription_id"/>
        <result property="itemId" column="item_id"/>
        <result property="userId" column="user_id"/>
        <result property="paymentId" column="payment_id"/>
        <result property="subscriptionName" column="subscription_name"/>
        <result property="price" column="price"/>
        <result property="billingCycle" column="billing_cycle"/>
        <result property="paymentDate" column="payment_date"/>
        <result property="useYn" column="use_yn"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <sql id="subscriptionColumns">
        subscription_id,
        item_id,
        user_id,
        payment_id,
        subscription_name,
        price,
        billing_cycle,
        payment_date,
        use_yn,
        created_at,
        updated_at
    </sql>

    <select id="selectAll" resultMap="subscriptionResultMap">
        SELECT
        <include refid="subscriptionColumns"/>
        FROM add_subscription
    </select>

    <select id="countDuplicateSubscription" parameterType="com.subees.submanager.subscription.model.dto.CreateSubscriptionRequest" resultType="int">
        SELECT COUNT(*)
        FROM add_subscription
        WHERE item_id = #{itemId}
          AND payment_id = #{paymentId}
          AND payment_date = #{paymentDate}
          AND use_yn = 'Y'
    </select>

    <insert id="insertSubscription" parameterType="com.subees.submanager.subscription.model.dto.CreateSubscriptionRequest">
        INSERT INTO add_subscription
        (
            item_id,
            payment_id,
            price,
            billing_cycle,
            payment_date,
            use_yn,
            created_at,
            updated_at
        )
        VALUES
            (
                #{itemId},
                #{paymentId},
                #{price},
                #{billingCycle},
                #{paymentDate},
                'Y',
                NOW(),
                NOW()
            )
    </insert>

    <select id="selectLastInsertedId" resultType="long">
        SELECT LAST_INSERT_ID()
    </select>

</mapper>